SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=hello@yandex.ru
SMTP_PASS=password
SMTP_FROM=hello@yandex.ru
SMTP_SECURE=true
CORS_ORIGINS=http://edgeucate
SECURE_COOKIE=false
CLIENT_URL=http://localhost:5173
REDIS_HOST=localhost
REDIS_PORT=6379
BULL_BOARD_PORT=4201
NODE_ENV=production
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/Edgeucate?retryWrites=true&w=majority
JWT_SECRET=a7f3c9e1b2d4f6g8h0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7A8B9C0D1E2F3
JWT_EXPIRES=7d
TURN_URL=
TURN_USERNAME=
TURN_PASSWORD=
TURN_SECRET= 